<!DOCTYPE html>
<html lang="en">
	<head>
		<include file="Index/head" />
<style type="text/css">
</style>
	</head>

	<body>
		<include file="Index/header" />

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<include file="Index/menu" />
				
				<div class="main-content">
					<include file="Index/nav" />

					<div class="page-content">
						
							<!-- /**
							 * 右侧页面begin
							 */ -->
						<div class="row">
							<div class="col-xs-9">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" role="form" action="{:U('Admin/Sendmessage/send')}" method="POST">
									
									<input type="text" value="{$list['id']}" name="id" hidden="hidden" />
									<div class="space-4 "></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 消息标题: </label>
										<div class="col-sm-9">
											<span id="form-field-2" class="col-xs-10 col-sm-8">{$list['ticker']}</span>
										</div>
									</div>
									<div class="space-4 "></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 消息提示标题: </label>
										<div class="col-sm-9">
											<span id="form-field-2" class="col-xs-10 col-sm-8">{$list['title']}</span>
										</div>
									</div>
									<div class="space-4 "></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 消息内容: </label>
										<div class="col-sm-9">
											<span id="form-field-2" class="col-xs-10 col-sm-8">{$list['text']}</span>
										</div>
									</div>
									<div class="space-4 "></div>
									<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 选择用户组: </label>
									&nbsp;&nbsp;&nbsp;
										<select name="gid">
										<option value="">选择用户组......</option>
										<?php foreach($list['members_group'] as $k => $v){ ?>
										<option value="<?php echo $v['id']; ?>"><?php echo $v['name']; ?></option>
										<?php } ?>
										</select>
									</div>



									<!-- <div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 消息类型: </label>
										<div class="radio" style="float:left; margin-right:10px; margin-top:-4px;">
											<label>
												<input name="state" type="radio" value="1" class="ace" checked="checked">
												<span class="lbl"> 显示</span>
											</label>
										</div>

										<div class="state" style="float:left; margin-right:10px; margin-top:3px;">
											<label>
												<input name="state" type="radio" value="0" class="ace" >
												<span class="lbl"> 隐藏</span>
											</label>
										</div>
									</div> -->


									<div class="space-4"></div>
									<div class="form-group">
									<div class="clearfix form-actions">
										<div class="col-md-offset-4 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												发送消息
											</button>									
										&nbsp; &nbsp; &nbsp;
										<a href="{:U('Admin/Sendmessage/lists')}">
											<button class="btn" type="button">
												<i class="icon-undo bigger-110"></i>
												返回列表
											</button>
										</a>
											
										</div>
									</div>

									<div class="hr hr-24"></div>

<!-- 									</div><! /row --> 

								</form>
							</div>
						</div>
							<!-- /**
							 * 右侧页面end
							 */ -->
					</div><!-- /.page-content -->
				</div>

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
	
		<include file="Index/footer" />
	</body>
</html>
