<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/wxhtml/wxindex.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.js"></script>
</head>
<body>
	<header class="blend-row blend-col-12 remove_style">
		<figure class="blend-picture blend-picture-default">
	      	<img src="__PUBLIC__/wxhtml/wximg/index_01.jpg"> 
		</figure>
	</header>
	<div id="down_button">
	<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zctx.zhongcetianxia" target="_blank">
		<div style="background-color:transparent; border:0; width:200px; height:100px;"></div>
	</a>
	</div>
	<div class="blend-row blend-col-12 remove_style">
		<!-- <div class="remove_style blend-col-5 div_one_left ">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_04.jpg">
			</figure>
		</div>
		<div class="remove_style blend-col-6 div_one_right">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_06.jpg">
			</figure>
		</div> -->
		<div  class="blend-imglist ">
		    <ul class='blend-imglist-wrapper blend-imglist-column-2'>
		        <li class='blend-imglist-item'>
		            <img src="__PUBLIC__/wxhtml/wximg/index_04.jpg" />
		        </li>
		        <li class='blend-imglist-item'>
		            <img src="__PUBLIC__/wxhtml/wximg/index_06.jpg" />
		        </li>
		    </ul>
		</div>
	</div>
	<div class="blend-row blend-col-12 remove_style">
		<!-- <div class="blend-col-3 remove_style div_two_left">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_10.jpg">
			</figure>
		</div>
		<div class="blend-col-3 remove_style div_two_center">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_12.jpg">
			</figure>
		</div>
		<div class="blend-col-3 remove_style div_two_right">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_14.jpg">
			</figure>
		</div> -->
		<div  class="blend-imglist ">
		    <ul class='blend-imglist-wrapper blend-imglist-column-3'>
		        <li class='blend-imglist-item'>
		            <img src="__PUBLIC__/wxhtml/wximg/index_10.jpg" />
		        </li>
		        <li class='blend-imglist-item'>
		            <img src="__PUBLIC__/wxhtml/wximg/index_12.jpg" />
		        </li>
		        <li class='blend-imglist-item'>
		            <img src="__PUBLIC__/wxhtml/wximg/index_14.jpg" />
		        </li>
		    </ul>
		</div>
	</div>
	<div class="blend-row blend-col-12 remove_style">
		<div class="blend-col-12 remove_style">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_18.jpg">
			</figure>
		</div>
	</div>
	<footer class="blend-row blend-col-12 remove_style">
		<div class="blend-row blend-col-12 remove_style">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_20.jpg">
			</figure>
		</div>
		<div class="blend-row blend-col-12 remove_style">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_21.jpg">
			</figure>
		</div>
		<div class="blend-row blend-col-12 remove_style">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_22.jpg">
			</figure>
		</div>
		<div class="blend-row blend-col-12 remove_style">
			<figure class="blend-picture blend-picture-default">
				<img src="__PUBLIC__/wxhtml/wximg/index_23.jpg">
			</figure>
		</div>
	</footer>
</body>
</html>