<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="{:U('Admin/Index/index')}">首页</a>
		</li>

		<li>
			<a href="{$level_one[1]}">{$level_one[0]}</a>
		</li>
		<li>
			<a href="<?php echo $level_two[1]; ?>">{$level_two[0]}</a>
		</li>
		<li class="active">{$level_three[0]}</li>
	</ul><!-- .breadcrumb -->

	<div class="nav-search" id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>
	</div><!-- #nav-search -->
</div>