<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$site_title}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.css" />
  <link rel="stylesheet" type="text/css" href="{$resource_basic}/css/webapp.css" />
  <script type="text/javascript" src="{$resource_basic}/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.js"></script>
  <script type="text/javascript">
    window.boost = $.noConflict(true);
    </script>
  <style>
      .blend-panel{background-color: #fff;}

  </style>
</head>

<body>
    <header data-blend-widget="header" class="blend-header header_title_bg">
        <span class="blend-header-left">
            <a class="blend-header-item  blend-button" href="javascript:history.go(-1);"><img src="{$resource_basic}/img/btn_back.png" style="height:28px;"/></a>
        </span>
        <span class="blend-header-title">
            <a class="blend-header-item">选择检测机构</a>
        </span>
        <span class="blend-header-right">
        </span>
    </header>

    
    
 <!--最新检测结果列表-->
    <volist name="result" id="vo">
        <div class="blend-card" data-name='{$vo.name}' data-id='{$vo.id}'>
            <div class="blend-card-img-view">
                <img src="{$site_url}{$vo.logo}">
            </div>
            <div class="blend-card-content-view">
                <div class="blend-card-title">
                    {$vo.name}
                </div>
                <p class="blend-card-text">{$vo.content}</p>

            </div>
        </div>
    </volist>
    <!--最新检测结果end-->
    
    
    
    
<script>
$(function(){
    open_loading();
    
    $(".blend-card").click(function(){
//        alert("fdfd");
        var name = $(this).attr('data-name');
        var iid = $(this).attr('data-id');
        
        sessionStorage.institutionname = name;
        sessionStorage.institutionid = iid;
        
        window.history.go(-1);
        
    });
});
// 加载的loading...
 document.onreadystatechange = subSomething;//当页面加载状态改变的时候执行这个方法. 
    function subSomething() 
    { 
        if(document.readyState === "complete") //当页面加载状态 
        {
            close_loading();

        }
    }
 
    function open_loading()
    {
        var loading = boost.blend.loading();
        loading.show();
    }
    
    function close_loading()
    {
        $('.blend-loading').hide();
    }
</script>
<include file="Index/foot_analyze"/>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1256622573).'" width="0" height="0"/>';?>
</body>
</html>