<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$site_title}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.css" />
  <link rel="stylesheet" type="text/css" href="{$resource_basic}/css/webapp.css" />
  <script type="text/javascript" src="{$resource_basic}/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/blendui/2.0.0/boost.min.js"></script>
  <script type="text/javascript">
    window.boost = $.noConflict(true);
    </script>
  <style>
      .blend-formgroup{ margin-top: 10px;}
      #content{ width: 345px; height: 200px; font-size: 1.5rem;}
      .blend-formgroup-input{ background-color: #fff;}
  </style>
</head>

<body>
    <header data-blend-widget="header" class="blend-header header_title_bg">
        <span class="blend-header-left">
            <a class="blend-header-item  blend-button" href="javascript:history.go(-1);"><img src="{$resource_basic}/img/btn_back.png" style="height:28px;"/></a>
        </span>
        <span class="blend-header-title">
            <a class="blend-header-item">用户反馈</a>
        </span>
        <span class="blend-header-right">
        <a class="blend-header-item submit"></a>
        </span>
    </header>
    <div class="blend-grid blend-container-fluid">
      <div class="blend-formgroup">
        <input type="text" id="contact" name="contact" class="blend-formgroup-input" placeholder="点击留下邮箱、QQ、微博、或电话等联系方式"/>
      </div>
      <div class="blend-formgroup">
          <textarea class="blend-formgroup-input" id="content" name="content" placeholder="留下您的宝贵意见，您的意见一旦被采纳，惊喜大礼等你哦！"></textarea>
      </div>
    </div>
    
    <div class="" style=" margin-top:30px;">
    <button class="blend-button blend-button-primary blend-button-large" id="submit" style=" background-color:#03ab9e;">提交</button>
    </div>
    <div style="height: 50px;"></div>
<include file="Index/wx_share_clip"/> 
<script>
$(function(){
    open_loading();
});
// 加载的loading...
 document.onreadystatechange = subSomething;//当页面加载状态改变的时候执行这个方法. 
    function subSomething() 
    { 
        if(document.readyState === "complete") //当页面加载状态 
        {
            close_loading();

        }
    }
 
    function open_loading()
    {
        var loading = boost.blend.loading();
        loading.show();
    }
    
    function close_loading()
    {
      $('.blend-loading').hide({
        animate: true,        // 切换时地步标示是否使用动画，默认是true
        start: 1            // 初始化指定展示tab的索引，默认是0
      });
    }


    $(document).ready(function(){

        $("#submit").bind('click',function(){
          // alert(1223); return;
            var contact = $("#contact").val();
            var content = $("#content").val();
            if(contact == '' || content == ''){
                alert('标题或内容不能为空!');
            }
            var url = "{:U('M/Member/put_feedback')}";
            $.ajax({
                type:'post',
                url:url,
                data:{contact:contact,content:content},
                dataType:'json',
                success:function(data){
                    if(data==1){
                        window.location.href="{:U('M/Member/feedback')}";
                        alert('感谢您的反馈!');
                    }
                }
            });
            
        });

    });



    <!-- //标签选择初始化 -->
    boost('.blend-tab').tab();

</script>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1256622573).'" width="0" height="0"/>';?>
<include file="Index/foot_analyze"/>
</body>
</html>